<p>	From <%= @search %> to your closest GA at <%= @location.address %>, here are the directions: </p>

<p><%= render 'common/directions' %></p>
<p><%= render 'common/distance' %> miles total</p>

<p>Start hitting the books on Ruby!</p>