<p>	From <%= @search %> to your closest GA, <%= @location.address %></p>, here are the directions: </p>

<p><%= render 'common/directions' %></p>
<p><%= render 'common/distance' %></p>

<p>Start hitting the books on Ruby!</p>