<h3 class="marginleftindent">
	An email was sent to <%= @to %> with the address, directions, and distance to your closest GA!  Start studying Ruby before your class session starts!
</h3>

<p class="marginleftindent"><%= link_to 'Back to Search', '/' %></p>
